[Desktop Entry]
Name=App Install
Comment=Simple package installer for Linux
Exec=/usr/bin/appinstall %U
Icon=es.inled.AppInstall
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=false
Keywords=install;package;deb;rpm;appimage;
MimeType=application/vnd.debian.binary-package;application/x-debian-package;application/x-appimage;
