[Desktop Entry]
Name=Swift Install
Comment=Simple package installer for Linux
Exec=flatpak run es.inled.SwiftInstall
Icon=es.inled.SwiftInstall
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=true
