[Desktop Entry]
Name=Swift Install
Comment=Simple package installer for Linux
Exec=swiftinstall
Icon=swiftinstall
Terminal=false
Type=Application
Categories=Utility;System;
